<mat-toolbar class="navbar" color="primary">
  <span class="app-name">Countries App</span>
</mat-toolbar>

<div class="sub-nav">
  <span><button mat-raised-button color="primary" >Add Country</button></span>

  <span>
    <mat-form-field class="example-form-field">
      <mat-label>Search Country</mat-label>
      <input matInput type="text" >
      <button mat-button matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </span>

</div>

<div class="c-table">
  <table>
    <tr>
      <th>Country ID</th>
      <th>Country</th>
      <th>President</th>
      <th>Capital</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let country of countries">
      <td> {{country.id}} </td>
      <td> {{country.name}} </td>
      <td> {{country.president}} </td>
      <td> {{country.capital}} </td>
      <td>
        <button mat-raised-button color="primary">update</button>
        <button mat-raised-button color="warn">delete</button>
      </td>
    </tr>
  </table>
</div>

